<header>
  <a href="/" class="wordmark">*</a>
</header>

<section class="intro">
  <p>griffin bennett duffey is pretending to be a&hellip;</p>
  <ul class="roles">
    <li><a href="/design-engineer">design engineer</a></li>
    <li><a href="/musician">musician</a></li>
    <li><a href="/founder">founder</a></li>
  </ul>
</section>

<section class="archives">
  <ul>
    <li><a href="/photos">photo archive</a></li>
    <li><a href="/design">design archive</a></li>
  </ul>
</section>

<footer>
  <ul class="links">
    <li><a href="https://docs.google.com/spreadsheets/d/1FeTZ1iCYpVvS9u9pM1QeyfgCBR8AiApwER52m_xX9n4/edit?usp=sharing" target="_blank" rel="noopener noreferrer">cv</a></li>
    <li><a href="mailto:griffinbennettduffey@gmail.com?subject=sup">email</a></li>
    <li><a href="https://www.are.na/griffin-duffey" target="_blank" rel="noopener noreferrer">are.na</a></li>
    <li><a href="https://www.instagram.com/griffinduffey/" target="_blank" rel="noopener noreferrer">instagram</a></li>
    <li><a href="https://www.goodreads.com/user/show/43601117-griffin-duffey" target="_blank" rel="noopener noreferrer">goodreads</a></li>
    <li><a href="https://letterboxd.com/griffinduffey/" target="_blank" rel="noopener noreferrer">letterboxd</a></li>
  </ul>
</footer>